{% extends 'base.html'%}
{% load staticfiles %}

{% block header %}
{% if user.is_authenticated %}
    <a href="add_post"><button type="button" class="btn btn-success">Add post</button></a>
{% endif %}
{% endblock %}

{% block content %}
<hr>
<h2>Welcome to the blog!</h2>
<table class="table">
    <tr>
        <th>Titles</th>
        {% if user.is_authenticated %}
        <th>Delete</th>
        {% endif %}
    </tr>
    {% for post in posts %}
    <tr>
        <th><a href="{{post.id}}">{{post.title}}</a></th>
        {% if user.is_authenticated %}
        <th><a href="{{post.id}}/delete"><button type="button" class="btn btn-danger">Delete</button></a></th>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block footer %}

{% endblock %}